<div class="splash-container">
  <div class="supervisor-box">
    <div class="team-container team-container-0" (click)="toggleTeam(0)">
      <div class="team-header">
        <div class="icon-title-flex">
          <div class="agent-icon-box">
            <i class="fi fi-sr-users-alt"></i>
          </div>
          <h4>Compilers clan</h4>
        </div>
        <div class="count-toggle-flex">
          <div class="count-box">
            <p>3</p>
          </div>
          <i class="fi fi-sr-angle-down"></i>
        </div>
      </div>
      <div class="agent-flex">
        <div class="agent-box"></div>
        <div class="divider"></div>
        <div class="agent-box"></div>
        <div class="divider"></div>
        <div class="agent-box"></div>
      </div>
    </div>
    <div class="team-container team-container-1" (click)="toggleTeam(1)">
      <div class="team-header">
        <div class="icon-title-flex">
          <div class="agent-icon-box">
            <i class="fi fi-sr-users-alt"></i>
          </div>
          <h4>Dunoo Team</h4>
        </div>
        <div class="count-toggle-flex">
          <div class="count-box">
            <p>7</p>
          </div>
          <i class="fi fi-sr-angle-down"></i>
        </div>
      </div>
      <div class="agent-flex">
        <div class="agent-box"></div>
        <div class="divider"></div>
        <div class="agent-box"></div>
        <div class="divider"></div>
        <div class="agent-box"></div>
        <div class="divider"></div>
        <div class="agent-box"></div>
        <div class="divider"></div>
        <div class="agent-box"></div>
        <div class="divider"></div>
        <div class="agent-box"></div>
        <div class="divider"></div>
        <div class="agent-box"></div>
      </div>
    </div>
  </div>
</div>
